
<% if signed_in? %>
	<div class = "row" >
		<section>
			<%= render 'shared/user_info' %>
			<span>
				<ul id="myTab" class="nav nav-tabs">
				  <li><a href="#microposts" data-toggle="tab">Microposts</a></li>
				  <li class="active"><a href="#workouts" data-toggle="tab">Workouts</a></li>
				</ul>
			</span>
		</section>
		<div id="myTabContent" class="tab-content">
	    <div class="tab-pane fade" id="microposts">	    
				<%= render 'shared/microposts_mashup' %>
			</div>
	    <div class="tab-pane fade active in" id="workouts">
	    	<%= render 'shared/workouts_mashup' %>
	    </div>
	  </div>	
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to the Sample App</h1>
		<h2>
		  This is the home page for the
		  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		  sample application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>